@media (min-width: 160px) and (max-width: 755px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    nav {
        display: none;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 30px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
        font-family: "Oswald", sans-serif;
        font-weight: 100;
        font-size: 1.5rem;
    }

    nav ul li {
        margin-right: 20px;
        height: fit-content;
        width: 100%;
        max-width: 90vw;
        padding: 30px 0px 30px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    }

    nav ul li a {
        text-decoration: none;
        width: 100%;
    }

    nav ul li a:focus {
        border-radius: 4px;
        display: block;
        height: max-content;
    }

    nav ul li ul {
        display: none;
        background-color: #ffff;
        list-style: none;
        margin: 0;
    }

    nav ul li ul li {
        margin: 0;
    }

    nav ul li ul li a {
        // padding: 10px;
        display: block;
    }

    .menuGetUp {
        height: fit-content;
        width: fit-content;
        width: -webkit-fill-available;
        max-width: 50vw;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        border: 1px solid black;
        border-top: none;
        border-left: none;
        z-index: 1000;
        overflow: auto;
        padding-top: 1.3em;


        &.nav-ul {
            flex-direction: column !important;
        }
    }

}


@media (min-width: 756px) and (max-width: 1024px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon-container {
        display: none;
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: fit-content;
        font-family: "Oswald", sans-serif;
        font-weight: 200;
        font-size: 1rem;
    }

    nav ul li {
        height: fit-content;
    }

    nav ul li a {
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .nav-ul li a span {
        right: 0em !important;
        position: relative !important;
    }

    li#submenuExpand1 {
        position: relative;
    }

    li#submenuExpand2 {
        position: relative;
    }

    nav ul li a:focus {
        border-radius: 4px;
        display: block;
        height: max-content;
    }

    nav ul li ul {
        display: none;
        background-color: #ffff;
        list-style: none;
        margin: 0;
    }

    nav ul li ul li {
        margin: 0;
    }

    nav ul li ul li a {
        // padding: 10px;
        display: block;
    }
}


@media (min-width: 1025px) {

    a {
        display: block;
        width: fit-content;
    }

    main {
        margin-top: -31px;
        max-width: 70vw;
        border-right: var(--linea-color);
        width: fit-content;
        // background: red;
    }

    .h-h-title {
        font-size: 2.8rem !important;
    }

    article {
        margin-top: 30px;
        max-width: 900px !important;
        max-height: fit-content !important;
    }

    .section-information {
        width: -webkit-fill-available;
        width: 100%;
    }

    .img-information {
        font-size: 1rem !important;
    }

    .article-title {
        font-size: 2.3rem !important;
        margin-top: 0px;
    }
}