@media (min-width: 320px) and (max-width: 755px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: none;
    }


    nav ul {
        list-style: none;
        padding: 0;
        margin: 30px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        width: 100%;
        font-family: "Oswald", sans-serif;
        font-weight: 100;
        font-size: 1.5rem;
    }

    nav ul li {
        margin-right: 20px;
        height: fit-content;
        width: 100%;
        padding: 30px 0px 30px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    }

    nav ul li a {
        color: #555;
        text-decoration: none;
        // padding: 5px 10px;
    }

    nav ul li a:focus {
        border-radius: 4px;
        display: block;
        height: max-content;
    }

    /* Dropdown styles */
    nav ul li ul {
        display: none;
        position: absolute;
        background-color: #ffff;
        list-style: none;
        margin: 0;
    }

    nav ul li:hover ul {
        display: block;
    }

    nav ul li ul li {
        margin: 0;
    }

    nav ul li ul li a {
        // padding: 10px;
        display: block;
    }

    .menuGetUp {
        height: 100%;
        max-height: fit-content;
        width: -webkit-fill-available;
        position: fixed;
        backdrop-filter: blur(4px);
        top: 0px;
        display: flex;
        flex-direction: column;
        padding: 0px 50px 0px 50px;

        &.nav-ul {
            flex-direction: column !important;
        }
    }

}


@media (min-width: 756px) and (max-width: 1024px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (min-width: 1025px) {

    a {
        display: block;
        width: fit-content;
    }

    main {
        margin-top: -31px;
        max-width: 70vw;
        border-right: var(--linea-color);
        width: fit-content;
        // background: red;
    }

    .h-h-title {
        font-size: 2.8rem !important;
    }

    article {
        margin-top: 30px;
        max-width: 900px !important;
        max-height: fit-content !important;
    }

    .section-information {
        width: -webkit-fill-available;
        width: 100%;
    }

    .img-information {
        font-size: 1rem !important;
    }

    .article-title {
        font-size: 2.3rem !important;
        margin-top: 0px;
    }
}